
<h1>Create Assessment</h1>

<p></p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>Choose a subject</h3>
    </div>
    
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />English</label></div>
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />French</label></div>
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />Geography</label></div>
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />German</label></div>
        </div>
        <div class="row">
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />History</label></div>
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />Mathematics</label></div>
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />Science</label></div>
            <div class="col-md-2 radio-inline"><label><input type="radio" name="optradio" />Spanish</label></div>
        </div>
    </div>
</div>
